{% extends 'toppage/base.html' %}

{% block title %}Utomica{% endblock title %}

{% block content %}
  <div class="container">


    <!-- ヘッダー -->
    <div class="card" style="margin-top: 2em">
      <div class="card-body">
        <h5 class="card-title">このページ</h5>
        <p class="card-text">
          活動などをまとめておくページ。主につくったものとかを置いていく予定。
        </p>
      </div>
    </div>

    <!-- つくったものリスト -->
    <div class="row">
      {% for item in items %}
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card mb-3" style="margin-top: 2em; max-width: 18rem">
            <div class="card-header">
              {{ item.title }}
            </div>
            <div class="card-body">
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text"><a href="{{ item.url }}">{{ item.url }}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- ニュース -->
    <div class="card" style="margin-top: 2em">
      <div class="card-body">
        <h5 class="card-title text-muted text-center">news</h5>
        <ul class="list-group">
          {% for news in news_list %}
            <li class="list-group-item border-light">
              <a href="{{ news.url }}"><span class="text-muted">{{ news.title }} : [ {{ news.pub_date|date }} ]</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>


  </div>
{% endblock content %}

