<div class="container" style="margin-top: 2em; max-width: 45em">
  <div class="card border-light">
    <div class="card-body">
      <h4 class="card-title">Koratとは</h4>
      <p class="card-text">Koratはワークショップを通して自分でつくることが出来る3Dプリンターです。
        主要なフレームには、アクリルとABS樹脂を使っていますので、
        ファブラボなどのメイカースペースに置いているレーザー加工機、3Dプリンタでパーツを加工し、
        組み立てることができます。またフレームの設計データやファームウェアは、Github、
        Thingiverseなどにオープンソースとして公開していますので、ダウンロードして利用することが可能です。
      </p>
    </div>
  </div>

  <div class="card border-light" style="margin-top: 2em; max-width: 45em">
    <div class="card-body">
      <h4 class="card-title">ワークショップ</h4>
      <p class="card-text">
        構造を理解して使いこなしていただくために、Koratはワークショップとセットで販売しています。
        ワークショップは定期的に4名ほどの方にむけてファブラボ鎌倉で実施していく予定ですが、
        それ以外にもご要望に合わせてワークショップを企画することが可能です。
        ご要望、ご質問がございましたらお気軽に下記のフォームからお問い合わせください。
      </p>
    </div>
  </div>

  <div class="card border-light" style="margin-top: 2em; margin-bottom: 2em; max-width: 45em">
    <div class="card-body">
      <h4 class="card-title">つくりながら学ぶ</h4>
      <p class="card-text">
        3Dプリンタをつくるためには、デジタル工作機械の扱い方から、機構設計、電子回路の理解、プログラミングの技術が必要になります。
        3Dプリンタは、つくりながら最新の技術を学ぶことができるとても優れた教材です。
      </p>
    </div>
  </div>
</div>
