<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Korat</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">ホームへ戻る</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.thingiverse.com/thing:1629355">部品データ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1W94_sQoWh-5kGT56uCtlmDM2BHD4b88T26qp_51qc2Q/edit#gid=0">部品一覧</a>
      </li>
    </ul>
  </div>
</nav>