<footer class="border-top">
  <div class="container" style="margin-top: 2em;">
    <div class="row">

      <div class="col-12 col-md">
        <p class="text-muted">&copy; Utomica</p>
      </div>
      <div class="col-12 col-md">
        <h5>製作者</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">Mio Kato</li>
          <li class="text-muted">FabLab Kamakura FabMaster</li>
          <li class="text-muted">Keio University Researcher</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
