<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116319204-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116319204-1');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
  {% block custom-css %}{% endblock custom-css %}
</head>
<body>


{% block nav %}{% include 'nav.html' %}{% endblock nav %}
{% block content %}{% endblock content %}
{% block footer %}{% include 'footer.html' %}{% endblock footer %}


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'font-awesome/js/fontawesome-all.min.js' %}"></script>


{% block custom-js %}{% endblock custom-js %}
</body>
</html>