{% extends 'toppage/base.html' %}

{% block title %}Utomica{% endblock title %}

{% block content %}

  <!-- つくったものリスト -->
  <div class="album py-5 ">
    <div class="container">
      <div class="row">
        {% for item in items %}
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
              <img src="{{ item.image_url }}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"><a href="{{ item.content_url }}">{{ item.title }}</a></h5>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- ニュース -->
  <div class="container">
    <div class="card" style="margin-top: 2em">
      <div class="card-body">
        <h5 class="card-title text-muted text-center"><i class="far fa-newspaper fa-lg"></i> News</h5>
        <ul class="list-group">
          {% for news in news_list %}
            <li class="list-group-item border-light">
              <a href="{{ news.url }}">
              <span class="text-muted">
                <span class="text-info">
                  {{ news.pub_date|date }} :
                </span>
                {{ news.title }}
              </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


{% endblock content %}

